@mixin mobile {
    body{
        text-align:center;
    }
    .container{
        min-width:375px;
    }
    
    .wrapper{
        padding: 0 4%;
    }
    .flex-box{
        flex-direction: column; 
    }
}
@mixin desktop {
   .hero{
       text-align:center;
       
   }
   .btn-container{
    width:60%;
    margin: auto;
}
   .session{
       &-text-wrap{
       padding: 0 8rem;
       text-align:center;
        }
        
    }
    .features{
        position: relative;
        margin: 5rem 0;
        height:30vh;
        &-container{
            position: absolute;
            width:50%;
            height:100%;
            right:0;
            top:0;
            padding-right:20%;
        }
        &-image{
            position:absolute;
            width:50%;
            height:100%;
            top:0;
            left:-50px;
        }

    }
    .work-flow{
        .feature{
            width:25%;
        }
    }

   .heading-text{
       font-size:3rem;
   }
    .wrapper {
        padding: 0 12%;
    }
    .partners{
        img{
            max-width:12%;
            height:auto;
            margin:0;
        }}
    .footer{
        img{ 
            margin-right:5rem;
         
        }
        ul{
            display: flex;
            flex-wrap:wrap;
            width:50%;
            li{
                margin-right:5rem;
                margin-bottom: 1rem;
            }
       
        }
        .social-media{
            width:10%;
            margin:0;

        }
    }
}

@mixin tablet {
    .wrapper {
        padding: 0 8%;
    }
    body{
        text-align:center;
    }
   
}

@media (max-width: 766px){
    @include mobile;
}
@media (min-width: 767px) and (max-width:1023px){
    @include tablet;
}
@media (min-width:1023px){
    @include desktop;
    .btn-container{
        width:60%;
    }
    .features{
        height:70vh;
    }
    .btn{
        padding: 16px 50px;
    }
    
}
